<h1>VYNC</h1>
<p>VYNC is a video messaging app that emulates the game telephone.</p>
<p>The game begins when a user takes a video (up to 6 seconds in length) and sends it to a friend.
That friend can see the video they have been sent. They take a response video and send that to a 3rd user.
The 3rd user can only see the most recent video in this chain until they make a response video and forward the chain along.
After they've forwarded the message, they can see the whole chain. Endless fun.</p>
