<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
  <body>
<div id="wrapper">
    <%= yield %>

    <div id="footer">        

      <ul class="list-inline social-buttons">
      <li><a href="www.linkedin.com/in/thomasabend/en" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>

      <li><a href="www.github.com/tsabend" target="_blank"><i class="fa fa-github"></i></a>
      </li>

      <li><a href="https://www.linkedin.com/pub/pablo-lopez-domowicz/17/20/829" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>

      <li><a href="https://github.com/PLopezD" target="_blank"><i class="fa fa-github"></i></a>
      </li>

    </ul>

  </div>
</div>
</body>
</html>
