<script src="/js/shared.js"></script>


<div class="body">

  <h1 id="shared-head">V<span>Y</span>NC</h1>
  
  <div id="video-holder">
    <video type="video/mov" id="player" data-id=<%=params[:share_id]%>></video>
  </div>

</div> 